
    <!-- Guides Section -->
    <section id="guides">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>user guides</h2>
                    <hr>
                </div>
            </div>
            <div class="row">
                {% for category in site.categories %}
                    {% if category[0] == "guides" %}    
                        {% for post in category[1] | limit: 3 %}
                            {% include post-item.html post=post %}
                        {% endfor %}
                    {% endif %}
                {% endfor %}
            </div>
            <div class="show-more"><a href="/guides">&gt; &gt; More</a></div>
        </div>
    </section>