<!-- page item -->
<div class="col-sm-4 education-item">
    <div class="education-link">
        <div class="caption">
            <a href="{{ include.post.url | prepend: site.baseurl }}" target="_blank">
                <div class="caption-content">
                    View {{ include.post.category | remove: 's' }}
                </div>
            </a>
        </div>
        <img src="/img/{{ include.post.img }}" class="img-responsive" alt="">
    </div>
    <div class="page-brief">
        <p class="page-name">{{ include.post.title }}</p>
        <p class="page-desc">{{ include.post.description }}</p>
    </div>
</div>