    <!-- Video Section -->
    <section id="videos" class="success">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Video Walkthroughs</h2>
                    <hr>
                </div>
            </div>
            <div class="row">
                {% for post in site.categories['videos'] | limit: 3 %}
                    {% include post-item.html post = post %}
                {% endfor %}
                                    
                {% assign time = site.categories['videos'].size %}
                {% for i in (time..2) %}
                    {% include coming-soon-item.html %}  
                {% endfor %}
            </div>
            <div class="show-more"><a href="/videos">&gt; &gt; More</a></div>
        </div>
    </section>